/* css/index.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh; /* Toàn bộ chiều cao màn hình */
  display: flex;
  flex-direction: column;
}

.top-section {
  background-color: #ffcc00; /* Màu vàng tươi */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-section {
  background-color: #f2f2f2; /* Màu xám nhạt */
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant-name {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 10px; /* Khoảng cách với h2 */
}

.address {
  font-size: 1.2rem;
  color: #555;
}


.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;     /* chiều rộng hộp */
  height: auto; 
  margin-top: -80px;
}

.login-box input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #ffcc00;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-box button:hover {
  background-color: #e6b800;
}

.login-change {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px; /* khoảng cách giữa 2 nút */
}

.small-btn {
  flex: 1; /* mỗi nút chiếm đều 50% */
  padding: 8px 0;
  font-size: 0.9rem;
  border: none;
  border-radius: 8px;
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.small-btn:hover {
  background-color: #333;
  color: #fff;
}


  
