
/* Định dạng cho giao diện */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  .search-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f58220;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #e67300;
  }
  
  .employee-info {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  strong {
    color: #333;
  }

  .button-container {
    max-width: 800px;
    margin: 10px auto 0;
    display: flex;
    gap: 10px;
  }
  
  #edit-btn,
  #save-btn {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  #edit-btn {
    background-color: #f58220
  }
  
  #edit-btn:hover {
    background-color: #e67300;
  }
  
  #save-btn {
    background-color: #f58220
  }
  
  #save-btn:hover {
    background-color: #e67300;
  }

  .success-message {
    background-color: #28a745;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
    width: 100%;
    display: none;
    font-size: 16px;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  
  